<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.lm.appbank"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_bank"
        android:label="ItanuBank"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controladores.ControladorTelaPrincipal"
            android:label="ItanuBank">
        <intent-filter>
            <action
                android:name="android.intent.action.MAIN"/>
            <category
                android:name="android.intent.category.LAUCHER"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".controladores.ControladorTelaCadastrar" />
        <activity
            android:name=".controladores.ControladorTelaLogin">
        </activity>
    </application>

</manifest>